# Variáveis de ambiente (Contém senhas!)
.env

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/

# Dados e arquivos temporários do Excel
data/*.xlsx
data/base/*.xlsx
!data/base/.gitkeep
~$*.xlsx

# IDEs
.vscode/
.idea/
